<div class='row'>
<!-- The above form looks like this -->
	
		<div class="row">
		    <div class="six columns">
		    	<label for="searchTag">Hashtag</label>
				<input class="u-full-width" type="text" placeholder="#codeforamerica" id="searchTag">
		    </div>
		</div> <!-- /row -->
	  
		<input class="button-primary" type="submit" value="Submit" id='submitHashtag'>
		
</div>

<div class='row' id='map'>
	
</div>

