<div class='row'>
<!-- The above form looks like this -->
	<form>
	  
	  	<div class="row">
		    <div class="six columns">
		    	<label for="searchTag">Hashtag</label>
				<input class="u-full-width" type="text" placeholder="#codeforamerica" id="searchTag">
		    </div>
		</div> <!-- /row -->
	  
		<input class="button-primary" type="submit" value="Submit">
		
	</form>

</div>

<div class='row' id='photoHolder'>
	
</div>