{{> html-head }}
  
  
    <!-- nav partial -->
    {{> header }}

    <div class="container">
	    
      <!-- body partial, used for adding pages to layout -->
      {{> body }}

      
    </div>
  
  
{{> html-foot }}
