<footer>
	
	<p><span class='bold'>The Unnamed Project</span> by Team Miami-Dade: Mathias Gibson, Sophia Dengo, Ernie Hsiung. Build Week 2015.</p>
	<p>Icons from <a href='thenounproject.com' target="_blank">The Noun Project</a>, specifically: Michele Zamparo, Marek Polakovic, Nick Abrams, Pham Thi Dieu Linh, Samuel Q. Green, and iconsmind.com</p>
	
</footer>

</body>

</html>