<div class='row' id='language-toggle-wrapper'>

	<ul class='right' id='language-toggle'>
		<li class='left'><p>Por favor elija su idioma.</p>
		<li class='button one column' id='en'>EN</li>
		<li class='button one column active reverse' id='es'>ES</li>
		<li class='button three columns'><a href='http://www.miamidade.gov/economy/'>Go to RER</a></li>
	</ul>
	
</div>

<nav>
	
	<!--<li class='left icon icon-icon-logo'></li>-->
	
	<li class="button">Solicitar un permiso</li>
	<li class="button active"><a href='index-es.html'>Comprobar el estado de permiso</a></li>
	<li class="button">Programe una inspección</li>
	
	
	
</nav>