<div class='row' id='language-toggle-wrapper'>

	<ul class='right' id='language-toggle'>
		<li class='left'><p>Please choose your language.</p>
		<li class='button one column active reverse' id='en'>EN</li>
		<li class='button one column' id='es'>ES</li>
	</ul>
	
</div>

<nav>
	
	<!-- The above form looks like this -->
	<form>
	  
	  	<div class="row">
		    <div class="six columns">
		    	<label for="searchTag">Hashtag</label>
				<input class="u-full-width" type="text" placeholder="#codeforamerica" id="searchTag">
		    </div>
		</div> <!-- /row -->
	  
		<input class="button-primary" type="submit" value="Submit">
		
	</form>
	
</nav>